@import "../resources/introvariables";

.container
{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40vh repeat(2, 100vh);;
  grid-template-areas:
  "hd    hd   hd   hd   hd "
  "main main main main main"
  ".    main main   .    .";

  transition: filter ease 1.3s;
  filter: blur(4px); //-----------------------------Change later
}

  .blurout
  {
    filter: blur(0px);
  }

.topbar
{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 1 / 2;
  text-align: center;
  padding: 2em;
  background: $porttopbg;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  .welcomeText
  {
    font-family: 'Oswald', sans-serif;
    color: $welcomecolor;
    font-size: $welcomesize;

  }

  .ipText
  {
    color: $ipcolor;
    font-size: $ipsize;
    font-family: 'Consolas';
  }
  .animatedBar
  {
    position: relative;
    top: -19px;
    left: 64px;
    color: white;
    font-weight: bold;
    animation: flicker;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes flicker
  {
    0%{}
    24.99%{opacity: 1}
    25%{opacity: 0}
    49.99%{opacity: 0}
    50%{opacity: 1}
    74.99%{opacity: 1}
    75%{opacity: 0}
    99.9%{opacity: 0}
    100%{opacity: 1}
  }

  hr
  {

    height: 1px;
    border: 0;
    border-top: 4px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
}

.content
{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 2 / 3;
  background: $portcontentbg;
  text-align: center;
  padding: 2em;

}
