<div class="container">

  <div class="maskcontainer">
  </div>
  <div class="maskcircle">
  </div>

  <div class="CompAcademica">
    <p class="TextTitleLeft comp"> Competências académicas </p>
    <div class="circleborder one"><div class="graycircle one"></div> </div>
    <div class="circleborder two"><div class="graycircle two"></div> </div>
    <div class="circleborder three"><div class="graycircle three"></div> </div>
    <div class="circleborder four"><div class="graycircle four"></div> </div>
    <div class="circleborder five"><div class="graycircle five"></div> </div>
    <div class="circleborder six"><div class="graycircle six"></div> </div>
  </div>
  <div class="FormAcademica">
      <p class="TextTitleRight formaca"> Formação académica </p>
      <!-- Make this a show / hide div -->
      <i class="fa fa-chevron-right" (mouseenter)="shownovanow();" (mouseleave)="hidenovanow();" [ngClass]="{'rotatearrow': shownovavar}" aria-hidden="true"></i>
      <p class="TextRight lic"> Licenciatura 2014 - 2017</p>
      <p class="TextRight nova" [ngClass]="{'makevisible': shownovavar}"> Nova Information Management School </p>
      <!-- Make this a show / hide div -->
      <p class="TextRight ano"> 12ºAno 2011 - 2014</p>
  </div>
  <div class="ExpProf">
      <p class="TextTitleLeft"> Experiência profissional </p>
      <p class="TextLeft"> Estágio - Arqui 300 | Nov 2013 - Mar. 2014</p>
      <!-- Make this a show / hide div -->
      <p class="TextLeft"> Editor de video - montagem e pós produção</p>
  </div>
  <div class="CompProf">
      <p class="TextTitleRight"> Competências profissionais </p>
      <p class="TextRight"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi viverra ultrices arcu sit amet cursus.
          Nullam et iaculis diam. Etiam in pellentesque massa.
          In rhoncus quam eu enim bibendum, eu consequat dolor condimentum.
          Quisque elementum egestas justso at molestie.
          Phasellus et tincidunt ante, quis luctus nunc.</p>
  </div>
  <div class="Idioma">
      <p class="TextTitleLeft id"> Idiomas </p>
      <span class="flag-icon flag-icon-pt"></span><p class="TextLeft pt">   Português</p>
      <span class="flag-icon flag-icon-gb"></span><p class="TextLeft gb">  Inglês</p>
      <span class="flag-icon flag-icon-es"></span> <p class="TextLeft es">  Espanhol</p>
  </div>
  <div class="InfoTec">
      <p class="TextTitleRight"> Informática </p>
      <p class="TextRight"> Eclipse</p>
      <p class="TextRight"> Sybase</p>
      <p class="TextRight"> Microsoft Suite</p>
      <p class="TextRight"> Adobe CC</p>
  </div>
  <div class="CompPessoal">
      <p class="TextTitleLeft"> Competências pessoais </p>
      <p class="TextLeft">  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Morbi viverra ultrices arcu sit amet cursus.
        Nullam et iaculis diam. Etiam in pellentesque massa.
        In rhoncus quam eu enim bibendum, eu consequat dolor condimentum.
        Quisque elementum egestas justso at molestie.
        Phasellus et tincidunt ante, quis luctus nunc.
        Curabitur tincidunt ligula nisl, a hendrerit nibh interdum nec.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Morbi vel euismod ex.
        Aliquam vel tortor nulla. Integer ipsum lorem, vehicula quis lobortis at, euismod sit amet arcu.
        Suspendisse nulla massa, sollicitudin eu ipsum ac, commodo gravida nulla.
        Vivamus tempor volutpat elit, sed finibus odio aliquam quis.
        Donec eu egestas sapien, in efficitur dolor. Donec pulvinar diam nec purus fringilla elementum. Mauris ac eros bibendum, auctor metus a, laoreet arcu.
        Donec nibh justo, tincidunt a purus quis, sollicitudin ultricies velit. Nulla facilisi.</p>
  </div>
  <div class="InfoAdd">
      <p class="TextTitleRight"> Informação adicional </p>
      <p class="TextRight v"> Voluntariado</p>
      <!-- Make this a show / hide div -->
      <p class="TextRight vdesc"> Casa da musica portuguesa</p>
      <!-- Make this a show / hide div -->
      <p class="TextRight vdesc"> Cozinha com alma</p>
      <!-- Make this a show / hide div -->
      <p class="TextRight vdesc"> Natura Observa</p>
      <p class="TextRight hob"> Hobbies</p>
      <p class="TextRight hobdesc"> Aliquam vel tortor nulla. Integer ipsum lorem,
          vehicula quis lobortis at, euismod sit amet arcu.
          Suspendisse nulla massa, sollicitudin eu ipsum ac, commodo gravida nulla.
          Vivamus tempor volutpat elit, sed finibus odio aliquam quis.
          Donec eu egestas sapien, in efficitur dolor. Donec pulvinar diam nec purus fringilla elementum.
           Mauris ac eros bibendum, auctor metus a, laoreet arcu.
          Donec nibh justo, tincidunt a purus quis, sollicitudin ultricies velit. Nulla facilisi.</p>
  </div>
  <div class="Contacto">
      <p class="TextTitleLeft cc"> Contactos </p>
      <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
      <p class="TextLeft ln"> www.linkedin.com/in/joseatmartins</p>
      <i class="fa fa-github fa-3x" aria-hidden="true"></i>
      <p class="TextLeft gh"> www.github.com/99Ranged</p>
  </div>

</div>
