@import "../resources/introvariables";


.container
{
  display: grid;
  grid-template-rows: repeat(5, 70vh);
  grid-template-columns: repeat(9, 1fr);
  background-color: $bodybg;
  position: relative;
  overflow: hidden;

  &::before
  {
    content: '';
    grid-column: 5;
    /* autoprefixer: off */
    grid-row: 1 / 9;
    position: relative;
    z-index: 2;
    display: inline-block;
    justify-self: center;
    width: 2%;
    background: $porttopbg;

  }

  .maskcontainer
  {
    content: '';
    grid-column: 5;
    /* autoprefixer: off */
    grid-row: 1 / 9;
    position: relative;
    z-index: 4;
    display: inline-block;
    justify-self: center;
    width: 30%;
    background: $bodybg;
    animation: showbackbone ease;
    animation-fill-mode: forwards;
    animation-duration: 14s;
    &::after
    {
      content: '';
      display: inline-block;
      position: relative;
      width: 100%;
      height: 1%;
      border-radius: 100%;
      box-shadow: 0 11px 0 0 $bodybg;
      top: -23px;

    }
    @keyframes showbackbone {
      from{transform: translateY(0%)}
      to{transform: translateY(90%)}
    }
  }

  //--------------------------
  // Icons definition
  //--------------------------
  .icons
  {
    grid-area: 1 / 5 / 9 / 5;
    display: grid;
    grid-template-rows: repeat(5,20%);
    .fa.fa-graduation-cap
    {
      grid-area: 1 / 1 / 1 / 1;
      position: relative;
      justify-self: center;
      margin-top: 34px;
      z-index: 3;
      color: $welcomecolor;
    }
  }
}

//------------------------------------------------------------------
//Paragraph definition
//------------------------------------------------------------------
p{
  font-family: 'Oswald', sans-serif;
  text-align: justify;

  &.TextTitleLeft
  {
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font-size: 22px;
    color: $welcomecolor;
  }
  &.TextTitleRight
  {
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    color: $welcomecolor;
  }
  &.TextLeft
  {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    margin-left: 5%;
    font-weight: lighter;
  }
  &.TextRight
  {
    font-family: 'Oswald', sans-serif;
    margin-right: 5%;
    margin-left: 5%;
    font-weight: lighter;
  }
}

//------------------------------------------------------------------
//Left side divs definition
//------------------------------------------------------------------
.CompAcademica
{
  grid-column: 1/5;
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr .8fr .8fr 1fr;
  grid-template-columns: 1fr .1fr 0.4fr 0.4fr 0.4fr 0.1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  .TextTitleLeft.comp
  {
    grid-column: 1/7;
    margin-bottom: 0;
    font-size: 193%;

  }
  .graycircle
  {
    position: relative;
    z-index: 6;
    background: $bodybg;
    border-radius: 100%;
    height: 90%;
    width: 90%;
    margin: auto;
    top: 5%;
    &.one{@include create-graycircle(3,2);}
    &.two{@include create-graycircle(4,2);}
    &.three{@include create-graycircle(5,2);}
    &.four{@include create-graycircle(3,3);}
    &.five{ @include create-graycircle(4,3);}
    &.six{@include create-graycircle(5,3);}
  }

  .circleborder
  {
    position: relative;
    z-index: 6;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    &.one{@include create-circle(3,2,$circle1,130deg,'true',26%);}
    &.two{@include create-circle(4,2,$circle2,230deg,'false',0%);}
    &.three{ @include create-circle(5,2,$circle3,190deg, 'false',0%);}
    &.four{@include create-circle(3,3,$circle4,230deg,'false',0%);}
    &.five{@include create-circle(4,3,$circle5,100deg,'true',40%);}
    &.six{
      @include create-circle(5,3,$circle6,160deg,'false',0%);
    }

  }
}

.ExpProf
{
  grid-column: 1/5;
  grid-row: 2;
}

.Idioma
{
  margin: 0;
  grid-column: 1/5;
  grid-row: 3;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr 1fr 1fr 28%;
  .flag-icon
  {
    grid-column: 3;
    justify-self: end;
    width: 45%;
  }
  .TextTitleLeft.id
  {
    grid-column: 4;
    margin-bottom: 0;
  }
  .TextLeft.pt
  {
    grid-row: 2;
    grid-column: 4;
  }
  .TextLeft.gb{
    grid-row: 3;
    grid-column: 4;
  }
  .TextLeft.es{
    grid-row: 4;
    grid-column: 4;
  }

}

.CompPessoal
{
  grid-column: 1/5;
  grid-row: 4;
}

.Contacto
{
  grid-column: 1/5;
  grid-row: 5;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr 1fr 1fr 47%;
  .TextTitleLeft.cc
  {
    grid-column: 4;
    margin-bottom: 0;
  }
  .TextLeft.ln
  {
    grid-row: 2;
    grid-column: 4;
  }
  .TextLeft.gh{
    grid-row: 3;
    grid-column: 4;
  }
  .fa{
    grid-column: 3;
    justify-self: end;
  }
}

//------------------------------------------------------------------
//Right side divs definition
//------------------------------------------------------------------

.FormAcademica
{
  grid-column: 6 / 9;
  grid-row: 1;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 30% min-content min-content min-content min-content;
  .fa
  {
    grid-area: 2 / 1;
    align-self: center;
    justify-self: center;
  }

  .TextTitleRight.formaca
  {
    grid-area: 1 / 1 / 1 / 3;
    font-size: 193%;
    margin-bottom: auto;
  }
  .TextRight.lic
  {
    grid-area: 2 / 2;

  }
  .TextRight.nova
  {
    grid-area: 3 / 2;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0;
    height: 0;

  }
  .TextRight.ano
  {
    grid-area: 4 / 2;
  }
}
//-----------------------
//show p class
//-----------------------
.makevisible
{
  color: red;
  animation: shownovaims ease;
  animation-fill-mode: forwards;
  animation-duration: .5s;

  @keyframes shownovaims {
    0% { height: 0}
    30% {opacity: 0;}
    80% {height: 16px; opacity: 1; }
    100% {opacity: 1; height: 16px;}
  }
}
.makeunvisible
{
  animation: hidenovaims linear;
  animation-fill-mode: forwards;
  animation-duration: .2s;

  @keyframes hidenovaims {
    0% { height: 16px; opacity: 1;}
    50% {height: 16px; opacity: 0;}
    100% {opacity: 0; height: 0px;}
  }
}
.rotatearrow
{
  transition: transform ease 0.3s;
  transform: rotateZ(90deg);
}
.rotatearrowback
{
  transition: transform linear 0.1s;
  transform: rotateZ(0deg);
}

.CompProf
{
  grid-column: 6 / 9;
  grid-row: 2;
}

.InfoTec
{
  grid-column: 6 / 9;
  grid-row: 3;
}

.InfoAdd
{
  grid-column: 6 / 9;
  grid-row: 4;
}


