@import url('https://fonts.googleapis.com/css?family=Oswald');
/*
  Global variables to be used
*/

  $newcolor: blue !default; //test var
  $blue: blue; //new circle border color
  $halfcircleopacity: 0 !default;


// Porfolio colours
  $porttopbg: #153525;
  $portcontentbg: #40382C;


//----------------------------------------------------------------
//TOP SECTION
//----------------------------------------------------------------

  $welcomecolor: #15CE6E;
  $welcomesize: 29px;
  $ipcolor: #15CE6E;
  $ipsize: 14px;
