<div class="header" [ngClass]="{'blurout': styleservice.blureffect}">
  <i  (click)="changename(0)" class="fa fa-angle-down fa-5x"> </i>
  <p class="testingmaps"  >{{titlesarray[0]}}</p>
  <div class="topbar">
    <p class="welcomeText"> WELCOME TO MY </p>
    <p class="ipText">127 . 0 . 0 . 1 <span class="animatedBar"> |</span></p>

  </div>
  <i class="fa fa-angle-down fa-5x" id="goDown"  ></i>
</div>

<div class="trianglecontainer">
    <div class="circle">
    </div>
    <div class="triangleone">
    </div>
    <div class="triangletwo">
    </div>
</div>
<router-outlet></router-outlet>
