.tablematrix
{
  display: grid;

  grid-template-columns: repeat(2, 25px);
  grid-template-rows: repeat(2, 25px);
  grid-template-areas:
  "a b
   c d";


}
  .grayblocks
  {
    grid-area: a;
    background-color: gray;
  }

  .blackblocks
  {
    grid-area: b;
  }



